---
layout: default
title: Cloudplatform Jelastic - kotimainen PaaS-alusta sovelluksillesi
---


{% include fi/tarjous.html offer-text="Testaa veloituksetta kahden viikon ajan!" button-text="Aloita kokeilu" %}

{% include fi/cloudplatform.html %}

{% include fi/edut.html %}

{% include fi/alustat.html %}

{% include fi/ominaisuudet.html %}

{% include fi/tarjous.html offer-text="Helppo käyttöönottto muutamassa minuutissa" button-text="Ota käyttöön" %}

{% include fi/asiakkaat.html %}

{% include fi/blogi.html %}

{% include fi/tiimi.html %}

{% include fi/tarjous.html offer-text="Cloudplatform - taatusti kotimainen pilvipalvelu" button-text="Ota käyttöön" %}

{% include fi/hinnat.html %}

{% include fi/tarjous.html offer-link="/hinnat" offer-text="Tarkemmat hintatiedot löydät tästä" button-text="Katso hinnasto" %}

{% include fi/yhteys.html %}

{% include fi/tarjous.html offer-text="Luotettava ja joustava alusta sovelluksillesi" button-text="Ota käyttöön" %}
