<!-- Site Header -->
<header class="site-header blog-header parallax" id="home" data-scrollax-parent="true">

  <!-- Parallax Header Image -->
  <div class="parallax-wrapper">
    <div class="cover" data-scrollax="properties: { 'translateY': '48%' }">
      <img src="/images/header-blog-image.jpg" alt="Cloudplatform" />
    </div>
  </div>

  <div class="container">

    <!-- Site Navigation Bar -->
    <div class="row site-navigation-bar parent">

      <!-- Logo -->
      <div class="col-sm-2 col-xs-4 logo child-center-v">
        <a href="/"><img src="/images/logo.png" alt="Cloudplatform"></a>
      </div>

      <!-- Toggle Mobile Menu -->
      <div class="col-xs-8 toggle-menu child-center-v">

        <!-- Burger -->
        <div class="navTrigger">
          <i></i><i></i><i></i>
        </div>

      </div>

      <!-- Navigation Bar -->
      <div class="col-sm-10 col-xs-12 navigation-bar child-center-v">

        <!-- Navigation Menu -->
        <nav id="navMenu" class="nav-menu">
          <ul class="menu">
{% if (page.lang | default: site.lang) == "en-GB" %}
            <li><a href="#about">About</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#parallax-features">Parallax</a></li>
            <li><a href="#testimonials">Testimonials</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#prices">Prices</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="https://support.cloudplatform.fi/en/new-ticket" target="_blank">Support</a></li>
{% else %}
            <li><a href="#jelastic">Jelastic</a></li>
            <li><a href="#edut">Edut</a></li>
            <li><a href="#alustat">Alustat</a></li>
            <li><a href="#ominaisuudet">Ominaisuudet</a></li>
            <li><a href="#asiakkaat">Asiakkaat</a></li>
            <li><a href="/blogi">Blogi</a></li>
            <li><a href="#tiimi">Tiimi</a></li>
            <li><a href="#hinnat">Hinnat</a></li>
            <li><a href="#yhteys">Yhteys</a></li>
            <li><a href="https://support.cloudplatform.fi/fi/new-ticket" target="_blank">Tuki</a></li>
{% endif %}
          </ul>
        </nav>

      </div>

    </div>

    <!-- Site Header Banner -->
    <div class="row header-banner parent" data-scrollax="properties: { 'translateY': '48%', 'opacity': '1.4' }">

      <div class="heading-content text-center child-center-v">

        <!-- Heading Title -->
        <div class="row heading-title">
          <h2>
            {% if page.tagline == null %}
              {{ page.type }}
            {% else %}
              {{ page.tagline }}
            {% endif %}

          </h2>
          <hr class="small">
          <h1 class="thin">{{ page.title }}</h1>
        </div>

      </div>

    </div>

    <!-- Arrow Down -->
    <div class="row arrow-down-section" data-scrollax="properties: { 'opacity': '0.6' }">

        <div class="wrapper-arrow child-center">
          <a href="#start" class="arrow-down">
            <i class="pe-7s-angle-down"></i>
          </a>
        </div>

    </div>

  </div>
</header>
