/**
 *
 *  Color Skin
 *
 *  @package gleesik_module
 *
 *
 *
 *
 *  ##### Theme Colors Primary
 *  $blue: #21c2f8;
 *  $green: #2ecc71;
 *
 *  ##### Global Pallete
 *  $white: #fff;
 *  $black: #000;
 *  $black-transparent: rgba($black, 0.9);
 *  $light-blue: #f4f8f9;
 *
 *  ##### Primary & Secondary
 *  $primary: $blue; // This is primary theme color
 *  $secondary: #2c3e50;
 *
 *  ##### Global Text Color
 *  $global-text: #848484;
 *
 *  ##### Gray Pallete
 *  $light-gray: #e3e9ed;
 *  $simple-gray: #bdc3c7;
 *  $normal-gray: #464646;
 *  $dark-gray: #202020;
 *
 *
 *
 *
 **/

// Theme Colors
$blue: #006ED8;
$green: #2ecc71;

// Global Pallete
$white: #fff;
$black: #000;
$black-transparent:  rgba($black, 0.9);
$light-blue: #E7F2F6;

// Primary & Secondary
$primary: $blue;
$secondary: #032D5B;

// Gray Pallete
$text-gray: #848484;
$light-gray: #e3e9ed;
$simple-gray: #bdc3c7;
$normal-gray: #464646;
$dark-gray: #202020;

// Global Text Color
$global-text: darken($text-gray, 15%);

// Background Color
$background-color: $white;

// Sections Colors
$section-bg: $white;
$section-focus: $light-blue;

// Footer Colors
$footer-color: $text-gray;
$footer-background-color: $dark-gray;

// Sidebar Colors [Widgets]
$sidebar-header: $light-blue;
$sidebar-title: $secondary;

$success:       $green !default;
$info:          $light-blue !default;
$warning:       $blue !default;
$danger:        $green !default;
$light:         $light-gray !default;
$dark:          $dark-gray !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
), $theme-colors);

// Tables
$color: $primary;
$amount: 1;
$spacer: 1rem !default;
$body-bg: $primary;
$border-width:                1px !default;
$border-color:                $light-blue !default;
$border-radius:               .25rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-sm:            .2rem !default;
$table-cell-padding:          .75rem !default;
$table-cell-padding-sm:       .3rem !default;
$table-bg:                    transparent !default;
$table-accent-bg:             rgba($black, .05) !default;
$table-hover-bg:              rgba($black, .075) !default;
$table-active-bg:             $table-hover-bg !default;
$table-border-width:          $border-width !default;
$table-border-color:          $light-blue !default;
$table-head-bg:               $secondary !default;
$table-head-color:            $light-gray !default;
$table-dark-bg:               $dark-gray !default;
$table-dark-accent-bg:        rgba($white, .05) !default;
$table-dark-hover-bg:         rgba($white, .075) !default;
$table-dark-border-color:     lighten($primary, 7.5%) !default;
$table-dark-color:            $white !default;

.hinnasto {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.article-content ul {
  list-style-type: circle;
  margin-left: 15px;
}

.article-content ul li {
  margin: 8px;
}
